@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap");
@import url("reset.css");
@import url("variables.css");
@import url("typography.css");
@import url("s1.css");
@import url("l1.css");

/* Snap scroll setup */

html,
body {
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.container {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  background-color: var(--color);
}

/* Snap scroll setup */
